.vscode
Busca*em*Largura/python/Fila1/__pycache__/
Busca*em*Largura/python/Fila2/__pycache__/
Busca*em*Largura/python/Grafo/__pycache__/
Dijkstra/python/Grafo/__pycache__/
Dijkstra/python/teste.py
Arvore Geradoras/Lista05/Questao05/__pycache__
Arvore Geradoras/Lista05/Questao07/__pycache__
Arvore Geradoras/Lista05/Questao07/Fila1/__pycache__